<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        tr td{
            text-align: center;
            vertical-align:middle;
        }
        .table tr td:last-child{
            text-align: left;!important;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <!--text-danger: 红色  text-warning: 警告 text-success: 绿色  text-primary-->
            <table class="table table-bordered table-hover">
                <caption class="h1 text-primary text-center">珠峰购物车</caption>

                <tr>
                    <td>全选<input type="checkbox" v-model="checkAll" @change="change"></td>
                    <td>商品</td>
                    <td>单价</td>
                    <td>数量</td>
                    <td>小计</td>
                    <td>操作</td>
                </tr>
                <tr v-for="a in products">
                    <!-- a 是数组中每一条对象信息-->
                    <td><input type="checkbox" v-model="a.isSelected" @change="changeOne"></td>
                    <td>
                        <!--v-bind : 动态绑定数据和   ：等价的-->
                        <img :src="a.productCover" :title="a.productName">{{a.productInfo}}
                    </td>
                    <td>
                        {{a.productPrice}}
                    </td>
                    <td>
                        <input type="number" v-model="a.productCount" min="0">
                    </td>
                    <td>{{a.productPrice*a.productCount | toFixed(2)}}</td>
                    <td>
                        <input type="button" value="删除" class="btn-danger" @click="remove(a)">
                    </td>
                </tr>
                <tr class="last"><td  colspan="6" class="text-left">总价格：{{sum()|toFixed(2)}}</td></tr>
            </table>
        </div>
    </div>
</div>
<script src="node_modules/axios/dist/axios.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        filters:{// 过滤器；
            toFixed(input,param){// input : 代表|前面的值  param是传进来的值
                return "￥"+input.toFixed(param);
            }
        },
        created:function () {
            // vue中请求数据；
            axios.get('./carts.json').then(val=>{
//                console.log(val);
                this.products = val.data;
                this.changeOne();// 循环每一条数据进行判断；对checkAll 进行修改
            },err=>{
                console.log(err);
            })
        },
        data: {
            checkAll:false,
            products:[]
        },
        methods:{
            change(){
                //
                this.products.forEach(item=>item.isSelected=this.checkAll);
            },
            changeOne(){
                // every : 找false；
                this.checkAll = this.products.every(item=>item.isSelected);
            },
            sum(){
                //  prev : 带表上一次的求和；
               return  this.products.reduce(function (prev,next) {
                    if(!next.isSelected){return prev};
                    return prev+ next.productPrice*next.productCount;
                },0)
            },
            remove(a){
                this.products = this.products.filter(item=>item!==a)
            }
        }
    });
</script>
</body>