<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        tr td{
            text-align: center;
            vertical-align:middle;
        }
        .table tr td:last-child{
            text-align: left;!important;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <!--text-danger: 红色  text-warning: 警告 text-success: 绿色  text-primary-->
            <table class="table table-bordered table-hover">
                <caption class="h1 text-primary text-center">珠峰购物车</caption>

                <tr>
                    <td>全选<input type="checkbox" v-model="checkAll" ></td>
                    <td>商品</td>
                    <td>单价</td>
                    <td>数量</td>
                    <td>小计</td>
                    <td>操作</td>
                </tr>
                <tr v-for="a in products">
                    <!-- a 是数组中每一条对象信息-->
                    <td><input type="checkbox" v-model="a.isSelected"></td>
                    <td>
                        <!--v-bind : 动态绑定数据和   ：等价的-->
                        <img :src="a.productCover" :title="a.productName">{{a.productInfo}}
                    </td>
                    <td>
                        {{a.productPrice}}
                    </td>
                    <td>
                        <input type="number" v-model="a.productCount" min="0">
                    </td>
                    <td>{{a.productPrice*a.productCount | toFixed(2)}}</td>
                    <td>
                        <input type="button" value="删除" class="btn-danger" @click="remove(a)">
                    </td>
                </tr>
                <tr class="last"><td  colspan="6" class="text-left">总价格：{{sum |toFixed(2)}}</td></tr>
            </table>
        </div>
    </div>
</div>
<script src="node_modules/axios/dist/axios.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        filters:{// 过滤器；
            toFixed(input,param){// input : 代表|前面的值  param是传进来的值
                return "￥"+input.toFixed(param);
            }
        },
        created:function () {
            // vue中请求数据；
            axios.get('./carts.json').then(val=>{
//                console.log(val);
                this.products = val.data;
//                this.changeOne();// 循环每一条数据进行判断；对checkAll 进行修改
            },err=>{
                console.log(err);
            })
        },
        computed:{
            // 这里面所有的属性同样也会挂载到实例上；不能和data中，和methods中的属性名相同；
            checkAll:{
//                 会默认进行缓存，除非依赖的响应式属性发生变化，才会重新进行计算；
                get(){// 获取checkAll时执行；通过v-model进行绑定；
                    // 当依赖数据发生变化时，那么会重新调用get方法；
                    console.log(2);
                    // this --> 实例；
                    return this.products.every(item=>item.isSelected);
                },
                set(val){
                    console.log(1);
//                    console.log(val);// true或false；
                    this.products.forEach(item=>item.isSelected=val);
                }
            },
            sum(){// 函数； 仅读取
                //默认会执行get方法；
                // sum 的值是return的返回值；
//                console.log(2);
                return  this.products.reduce(function (prev,next) {
                    if(!next.isSelected){return prev};
                    return prev+ next.productPrice*next.productCount;
                },0)
            }
        },
        data: {
            products:[]
        },
        methods:{
            remove(a){
                this.products = this.products.filter(item=>item!==a)
            }

        }
    });
</script>
</body>